<!doctype html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<!-- -------------------------- -->
	<link rel="icon" type="image/png" href="assets/i/favicon.png">
  	<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
	<link rel="stylesheet" href="assets/css/maincss/amazeui.min.css"/>
	<link rel="stylesheet" href="assets/css/maincss/admin.css">
	<script src="/js/dialog.js"></script>
	<script src="/js/template-web.js"></script>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/element.js"></script>
</head>
<!-- ======================================================================= -->
<style>
	.addform{display: none;}
	.inputc{margin-top: 20px;position: relative;height: 50px;padding-top: 10px;padding-bottom: 10px;overflow: hidden;background: #fff;border-bottom: 1px solid #efefef;width: 80%;margin: 0 auto;}
	.iphone{width: 100%;padding-left: 7px;height: 30px;line-height: normal;border-radius: 0;border: 0;font-size: 16px;outline: none;}
	.btn1{color: #3bb4f2;margin-left: 160px;margin-top: 20px;}
</style>
<!-- ======================================================================= -->
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/index" class=""><i class="lnr lnr-home"></i> <span>首页</span></a></li>
						<li><a href="/elements" class="active"><i class="lnr lnr-code"></i> <span>用户管理</span></a></li>
						<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>图表</span></a></li>
						<li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>面板</span></a></li>
						<li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>通知事项</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>页数</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="page-profile.html" class="">轮廓</a></li>
									<li><a href="page-login.html" class="">登录</a></li>
									<li><a href="page-lockscreen.html" class="">锁屏</a></li>
								</ul>
							</div>
						</li>
						<li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>桌子</span></a></li>
						<li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>板式</span></a></li>
						<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>图标</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					
						<!-- <h3>用户管理页面</h3> -->
						<!-- content start -->
						<div class="admin-content">
						
							<div class="am-cf am-padding">
								<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
							</div>
						
							<div class="am-g">
								<div class="am-u-md-6 am-cf">
									<div class="am-fl am-cf">
										<div class="am-btn-toolbar am-fl">
											<div class="am-btn-group am-btn-group-xs">
													<button id="addUser" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span>
													<a id="addUser" href="javascript:;">新增</a></button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span>
													保存</button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span>
													审核</button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span>
													删除</button>
											</div>
						
											<div class="am-form-group am-margin-left am-fl" style="display: none;">
												<select>
													<option value="option1">所有类别</option>
													<option value="option2">IT业界</option>
													<option value="option3">数码产品</option>
													<option value="option3">笔记本电脑</option>
													<option value="option3">平板电脑</option>
													<option value="option3">只能手机</option>
													<option value="option3">超极本</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="am-u-md-3 am-cf">
									<div class="am-fr">
										<div class="am-input-group am-input-group-sm">
											<input type="text" class="am-form-field" id="selectU">
											<span class="am-input-group-btn">
												<button class="am-btn am-btn-default" type="button" id="selectB" >搜索</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						
							<div class="am-g">
								<div class="am-u-sm-12">
									<form class="am-form">
										<table class="am-table am-table-striped am-table-hover table-main">
											<thead>
												<tr>
													<th class="table-check"><input type="checkbox" /></th>
													<th class="table-id">ID</th>
													<th class="table-title">账号</th>
													<th class="table-type">密码</th>
													<th class="table-set">姓名</th>
													<th class="table-author">性别</th>
													<th class="table-date">地址</th>
													<th class="table-set">邮箱</th>
													<th class="table-set">电话</th>
													<th class="table-set">头像</th>
												</tr>
											</thead>
											<tbody id="list">

											</tbody>
										</table>
										<div class="am-cf">
											<!-- <div id="count"></div> -->
											<p>共<span id="count"></span>条记录</p>
											<div class="am-fr">
												<ul id="page" class="am-pagination">
													<!-- {{{page_html}}} -->
													<!-- <li class="am-disabled"><a href="#">«</a></li>
													<li class="am-active"><a href="#">1</a></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#">5</a></li>
													<li><a href="#">»</a></li> -->
												</ul>
											</div>
										</div>
										<hr />
										<p>注：.....</p>
									</form>
								</div>
						
							</div>
						</div>
						<!-- content end -->

						<!-- ================================================================================= -->
						<!-- 添加用户 -->

							<form class="addform" id="addUserForm">
								<input type="hidden" name="id">
								<P class="inputc" style="margin-top: 10px;">
									<input placeholder="账号" name="username" type="text" class="iphone">
								</P>
								<P class="inputc">
									<input placeholder="密码" name="password" type="text" class="iphone">
								</P>
								<P class="inputc">
									<input placeholder="姓名" name="name" type="text" class="iphone">
								</P>
								<P class="inputc">
									<input placeholder="性别" name="sex" type="text" class="iphone">
								</P>
								<P class="inputc">
									<input placeholder="地址" name="address" type="text" class="iphone">
								</P>
								<P class="inputc">
									<input placeholder="邮箱" name="email" type="text" class="iphone">
								</P>
								<P class="inputc">
									<input placeholder="电话" name="phone" type="text" class="iphone">
								</P>
								<P class="inputc">
									<input placeholder="头像" name="pichead" type="text" class="iphone">
								</P>
								<input class="btn1" type="button" value="确定提交"></input>
							</form>

						<!-- ================================================================================= -->

				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<!-- ----------------------------- -->
	<!-- <script src="assets/js/jquery.min.js"></script> -->
	<script src="assets/js/amazeui.min.js"></script>
	<!--<![endif]-->
	<script src="assets/js/app.js"></script>
</body>
<script type="text/template" id="indexTpl">
	{{each list}}
	<tr>
		<td><input type="checkbox" /></td>
		<td>{{$value.id}}</td>
		<td><a href="#">{{$value.username}}</a></td>
		<td>{{$value.password}}</td>
		<td>{{$value.name}}</td>
		<td>{{$value.sex}}</td>
		<td>{{$value.address}}</td>
		<td>{{$value.email}}</td>
		<td>{{$value.phone}}</td>
		<td>{{$value.pichead}}</td>
		<td>
			<div class="am-btn-toolbar">
				<div class="am-btn-group am-btn-group-xs">
					<a href="javascript:;" id="edit"><button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary">
						<span class="am-icon-pencil-square-o"></span>编辑</button></a>
					<a href="javascript:;"><button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger">
						<span class="am-icon-trash-o"></span>删除</button></a>
				</div>
			</div>
		</td>
	</tr>
	{{/each}}
</script>
<script type="text/template" id="indexTpl1">
	{{each list}}
	{{$value.count}}
	{{/each}}
</script>
</html>
