<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <!-- 头部 -->
    <div class="heads">
        <!-- 返回键 -->
        <div class="blcx"><a href="/"><span><img src="../imges/left blcx.png"></span></a></div>

        <div class="myJD">我的京东</div>
        <div class="duoyu"><span></span></div>
    </div>
    <!-- 点击 多鸠余 显示显示框 -->
    <ul class="duojyu"style="display:none;">
            <li><a href="#"><span><img src="../imges/wuzi.png"></span><strong>首页</strong></a></li>
            <li><a href="javascript:;"><span><img src="./imges/fenlengshousuo.png"></span><strong>分类搜索</strong></a></li>
            <li><a href="javascript:;"><span><img src="./imges/gouwuccccccccccccccc.png"></span><strong>购物车</strong></a></li>
            <li><a href="javascript:;"><span><img src="./imges/yonghulaodiao.png"></span><strong>我的京东</strong></a></li>
            <li><a href="#"><span><img src="./imges/liulanjilvllllvvv.png"></span><strong>浏览记录</strong></a></li>
    </ul>
    <!-- 点击 多鸠余 显示显示框 END -->
    <!-- 用户资料 -->
    <div class="userxx">
        <!-- BG -->
        <div class="userxx_1">
        <!-- 内容 -->
        <div class="userxx_nro">
            <!-- 头像 ∨ -->
            <div class="userxx_tx"></div>
            <!-- name                         修改name span -->
            <div class="userxx_ne">idccccc</div><span class="ne_xg"><img src="./imges/xiug.png"></span>
            <!-- 用户名 -->
            <div class="userxx_yne"></div>
            <!-- 京享值 -->
            <div class="userxx_jxz">京享值：</div>
            <!-- 信用 -->
            <div class="userxx_jxz">信用：</div>
        </div>
            <!-- 账号管理 -->
            <div class="ZDgl">
                <span class="zdglx"></span><li>账号管理</li></div>
        <!-- 会员特权 -->
        <div class="vitQ">
            <div class="vitQ_nro">
                <div class="vitQ_nro_01">尊贵会员特权</div>
                <div class="vitQ_nro_02">立即查看</div>
            </div>
        </div>
    </div>
    </div>
    <!-- 用户资料 END-->
    <script>
    var name = (window.localStorage.getItem('dd')); //接收用户名
    var pichead = (window.localStorage.getItem('yd')); //接收用户名
    // console.log(name)
    $('.userxx_ne').html(name);
    $('.userxx_yne').html('用户名:'+name);
    $('.userxx_tx').html('<img src="/imges/'+pichead+'">');

    </script>

    <!-- 第二部分 订单情况 -->

    <div class="Ddkg">
        <div class="Ddkg_01"><span class="d1"></span><li>待付款</li></div>
        <div class="Ddkg_01"><span class="d2"></span><li>待收货</li></div>
        <div class="Ddkg_01"><span class="d3"></span><li>退换\售后</li></div>
        <div class="Ddkg_01"><span class="d4"></span><li>全部订单</li></div>
    </div>
    <!-- 第二部分 订单情况  END-->
    <!-- 第三部分 资产 -->

    <div class="Ddkg">
        <div class="Ddkg_02"><span>0张</span><li>京东卷</li></div>
        <div class="Ddkg_02"><span>开通有礼</span><li>白条</li></div>
        <div class="Ddkg_02"><span>0个</span><li>京豆</li></div>
        <div class="Ddkg_02"><span>0元</span><li>红包</li></div>
        <div class="Ddkg_02"><span class="b1"></span><li>全部订单</li></div>
    </div>
    <!-- 第三部分 资产  END -->

    <!-- 第四部分 店铺足迹 -->
    <div class="Ddkg">
        <div class="Ddkg_03"><span>0</span><li>商品收藏</li></div>
        <div class="Ddkg_03"><span>0</span><li>店铺收藏</li></div>
        <div class="Ddkg_03"><span>0</span><li>我的足迹</li></div>
    </div>
    <!-- 第四部分 店铺足迹 END -->

    <!-- 第五部分 其他 -->

    <div class="Other">
        <div class="Other_01"><span class="b2"></span><li>我的预约</li></div>
        <div class="Other_01"><span class="b3"></span><li>京东火车票</li></div>
        <div class="Other_01"><span class="b4"></span><li>应用推荐</li></div>
        <div class="Other_01"><span class="b5"></span><li>京东通信营业厅</li></div>
        <div class="Other_01"><span class="b6"></span><li>用户福利</li></div>
        <div class="Other_01"><span class="b7"></span><li>京东机票</li></div>
        <div class="Other_01"><span class="b8"></span><li>京东酒店</li></div>
    </div>

    <!-- 第五部分 其他 END -->
     <!-- 底部固定导航栏 -->
     <div class="GD-footer">
            <a href="/"style="width:20%"id='GD-footer-ron'><img src="./imges/shouye02.png"></a>
            <a href="/Fleng"style="width:20%"id='GD-footer-ron'><img src="./imges/fenlei02.png"></a>
            <a href="javascript:;"style="width:20%"id='GD-footer-ron'><img src="./imges/jingxi02.png"></a>
            <a href="/SPcar"style="width:20%"id='GD-footer-ron'><img src="./imges/gouwuche.png"></a>
            <a href="javascript:;"style="width:20%"id='GD-footer-ron'><img src="./imges/redadmin.png"></a>
        </div>
        <!-- 底部固定导航栏 END -->
</body>
<script src="/js/admin.js"></script>
</html>